export(AutoScore_fine_tuning)
export(AutoScore_fine_tuning_Ordinal)
export(AutoScore_fine_tuning_Survival)
export(AutoScore_parsimony)
export(AutoScore_parsimony_Ordinal)
export(AutoScore_parsimony_Survival)
export(AutoScore_rank)
export(AutoScore_rank_Ordinal)
export(AutoScore_rank_Survival)
export(AutoScore_testing)
export(AutoScore_testing_Ordinal)
export(AutoScore_testing_Survival)
export(AutoScore_weighting)
export(AutoScore_weighting_Ordinal)
export(AutoScore_weighting_Survival)
export(check_data)
export(check_data_ordinal)
export(check_data_survival)
export(compute_descriptive_table)
export(compute_multi_variable_table)
export(compute_multi_variable_table_ordinal)
export(compute_multi_variable_table_survival)
export(compute_uni_variable_table)
export(compute_uni_variable_table_ordinal)
export(compute_uni_variable_table_survival)
export(conversion_table)
export(conversion_table_survival)
export(conversion_table_ordinal)
export(plot_predicted_risk)
export(plot_survival_km)
export(print_performance_ci_survival)
export(print_performance_ordinal)
export(print_performance_survival)
export(print_roc_performance)
export(print_scoring_table)
export(split_data)
export(transform_df_fixed)
import(ggplot2)
import(knitr)
import(pROC)
import(survAUC)
import(survival)
import(tableone)
importFrom(Hmisc,rcorrcens)
importFrom(car,recode)
importFrom(coxed,bca)
importFrom(dplyr,group_by)
importFrom(dplyr,mutate)
importFrom(dplyr,n)
importFrom(dplyr,rename)
importFrom(dplyr,right_join)
importFrom(dplyr,select)
importFrom(dplyr,summarise)
importFrom(knitr,kable)
importFrom(magrittr,"%>%")
importFrom(ordinal,clm)
importFrom(plotly,ggplotly)
importFrom(plotly,layout)
importFrom(plotly,subplot)
importFrom(randomForest,importance)
importFrom(randomForest,randomForest)
importFrom(randomForestSRC,rfsrc)
importFrom(randomForestSRC,vimp)
importFrom(rlang,.data)
importFrom(stats,as.formula)
importFrom(stats,na.omit)
importFrom(stats,pnorm)
importFrom(survival,Surv)
importFrom(survival,survfit)
importFrom(survminer,ggsurvplot)
importFrom(tidyr,pivot_longer)
importFrom(tidyr,pivot_wider)

importFrom("grDevices", "rgb")
importFrom("stats", "binomial", "coef", "confint", "confint.default",
           "glm", "kmeans", "median", "predict", "quantile", "relevel")
